
<div class="container">

    <br />
    <div class="no-left-padding">
        <span class="col-lg-3 no-left-padding">
            <input type="text" class="form-control" placeholder="Search ..."  ng-model="searchBy" />
        </span>

        <span class="col-lg-3 offset2">
            <select ng-model="sortorder" class="form-control">
                <option selected value="name">Name</option>
                <option value="project">Project</option>
            </select>
        </span>
    </div>
    <br /> <br /> <br />

    <table class="table table-condensed table-hover table-bordered">
        <thead class="table-head">
            <th>Name</th>
            <th>Project</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees | filter:searchBy | orderBy:sortorder"
                ng-click="loadDetails(emp.id);">
                <td> {{ emp.name }} </td>
                <td> {{ emp.project }} </td>
                <td style="text-align: center;">
                    <button class="btn btn-danger btn-mini" ng-click="deleteEmployee(emp.id);" stop-event='click'>
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br />

</div>

<div class="container">
    <form>
        <div class="form-group no-left-padding">
            <div class="col-lg-2 no-left-padding">
                <input type="text" placeholder="Name" ng-model="newEmployee.name"  class="form-control">
            </div>
            <div class="col-lg-2 no-left-padding">
                <input type="text" placeholder="Project" ng-model="newEmployee.project"  class="form-control">
            </div>
            <div class="col-lg-2 no-left-padding">
                <input type="text" placeholder="Motto" ng-model="newEmployee.motto"  class="form-control">
            </div>
            <div class="col-lg-3">
                <button ng-click="addNewEmployee()" class="btn btn-primary">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>